.writing-area .content {
    -fx-background-color: rgb(6, 6, 8);
    -fx-text-fill: rgb(188, 186, 200);
}

.writing-area:focused .content {
    -fx-background-color: rgb(6, 6, 8);
}

.writing-area .scroll-pane {
    -fx-background-color: rgb(6, 6, 8);
}

.writing-area .scroll-pane .viewport {
    -fx-background-color: rgb(6, 6, 8);
}
